@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

.container {
	background-color: #232323;
	align-items: center;
	justify-content: center;
	
	svg {
		max-width: 45rem;
		width: 100%;
		height: auto;
		fill: none;
		stroke: white;
		stroke-width: 4;
		display:block;
		tspan > tspan {
			stroke-dasharray: 1500;
			stroke-dashoffset: -1500;
			
			@for $i from 1 through 25 {
				
				&:nth-of-type(#{$i}) {
					animation: draw 300ms #{$i * 150}ms forwards;
				}
				
			}
			
		}
		
	}
	
}

@keyframes draw {
	
	100% {
		stroke-dashoffset: 0;
	}
	
}/* The typing effect */
.typewriter h1 {
  display:block;
color:white;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  
  animation: 
   

    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
   animation-play-state: paused;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}
a:link {
  color: white;
}

/* visited link */
a:visited {
  color: lime;
}

/* mouse over link */
a:hover {
  color: yellow;
}
